*{
    text-align: center;
    font-family: Arial;
}
body{
    background-color: aquamarine;
}
h1{
    color: white;
    text-shadow: 2px 2px black;
    font-size: 40pt;
}
p{
    font-size: 30px;
}
img{
    width: 391px;
    height: 391px;
    border-radius: 50%;
}
section{
    background-color: white;
    width: 800px;
    padding-bottom: 25px;
    padding-top: 5px;
    margin: auto;
    border-radius: 4%;
    box-shadow: 5px 5px;
}
footer{
    margin-top: 15px;
    font-size: 15pt;
    color: black;
}